Repository njesenberger/nicolasjesenberger: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest --run, eslint, stylelint

test
  .lintstagedrc
  components/CodePreview/index.vue
Due: eslint, stylelint

test
  components/CodePreview/index.vue
Due: eslint, stylelint

test
  .lintstagedrc
Due: none

test
  .husky/pre-commit
  components/CodePreview/index.vue
Due: eslint, stylelint

add: 404 page
  .stylelintrc
  error.vue
  layouts/error.vue
Due: eslint, stylelint

update: husky precommit hooks order
  .husky/pre-commit
Due: none

fix: remove vitest config comment
  vitest.config.mjs
Due: none

fix: headings style
  pages/index.vue
Due: eslint, stylelint

add: github link
  .vscode/settings.json
  layouts/error.vue
  nuxt.config.ts
  pages/index.vue
Due: vitest --run, eslint, stylelint

Path conditions:
  vitest --run: any of: *.{js,ts}
  eslint: any of: *.{js,ts,vue}
  stylelint: any of: *.{css,scss,vue}
